@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap');

.mr-dafoe-regular {
  font-family: "Mr Dafoe", cursive;
  font-weight: 400;
  font-style: normal;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: var(--colors-animation);
}

html {
  font-size: 16px;
  background-color: var(--colors-elevation-0);
  scrollbar-gutter: stable;
  overflow-x: hidden;
  color: var(--colors-text);
  /*   background: linear-gradient(to bottom, white, red); */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  container-name: body;
  container-type: inline-size;
  transition: var(--colors-animation);
  min-height: 100vh;
  --site-width: 75rem;
  z-index: 0;

}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  height: 100vh;
  width: 100vw;

  --color-1: color-mix(in oklch, var(--colors-elevation-0), var(--colors-primary) 2%);

  --color-2: color-mix(in oklch, var(--colors-elevation-0), var(--colors-secondary) 12%);

  background: linear-gradient(to top right, var(--color-1) 0%, var(--color-2) 100%);
}

::selection {
  background-color: var(--colors-secondary, #53c1de);
  /* Highlight background */
  color: var(--colors-white, #ffffff);
  /* Selected text color */
}

.app-shell {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

b {
  font-weight: var(--font-weights-bold);
}

p {
  hyphens: auto;
  max-width: var(--text-max-width);
  line-height: 1.5;
  font-weight: var(--font-weights-normal);
  font-size: var(--font-sizes-sm);
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  color: var(--colors-text);
  line-break: loose;
}

h1,
h2,
h3,
h4,
h5 h6 {
  margin: 0;
  margin-top: 0.75em;
  margin-bottom: 0.5em;
  color: var(--colors-text);
}

h1 {
  font-size: var(--font-sizes-xxl);
}

h2 {
  font-size: var(--font-sizes-xl);
}

h3 {
  font-size: var(--font-sizes-lg);
}

h4 {
  font-size: var(--font-sizes-md);
}

h5 {
  font-size: var(--font-sizes-sm);
}

button {
  margin: 0;
  padding: 0;
  border: 0;
}

button:hover {
  cursor: pointer;
}

/* @media (min-width: calc(70rem)) {
    @supports (scrollbar-gutter: stable both-edges) {
        html {
            scrollbar-gutter: stable both-edges;
        }
    }

    @supports ((not (scrollbar-gutter: stable both-edges)) and (overflow-y: overlay)) {
        html {
            overflow-y: auto;
            scrollbar-gutter: unset;
        }
    }
} */

#portal-root {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
}

:where(.h-padding) {
  padding-left: .5rem;
  padding-right: .5rem;
}

/* .h-padding {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
} */

.view-title {
  color: var(--colors-text);
  position: relative;
  padding: 0.5rem 0;
  margin-top: 0;
  padding-left: 1.6rem;
  padding-right: 1.3rem;
  background-color: var(--colors-elevation-2);
  box-shadow: var(--shadows-xs);
  border-radius: var(--border-radiuses-sm);
  border: 1px solid color-mix(in oklch,
      var(--colors-elevation-2),
      var(--border-mix-shading) var(--border-strength-1));
  width: fit-content;
  text-wrap: pretty;
  max-width: 100%;

  &.no-bg {
    background-color: none;
    box-shadow: none;
    border: none;
    margin: 0;
    padding-left: 1rem;
    background: none;

    &::before {
      left: 0;
    }
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: .7rem;
    width: 5px;
    top: .35em;
    bottom: .35em;
    background-color: var(--colors-primary);
    border-radius: var(--border-radiuses-sm);

  }
}

.waves-pattern {
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23000000' fill-opacity='0.09' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.section-content {
  width: 100%;
  max-width: var(--site-width);
  margin: 0 auto;
}

:root {
  --navbar-height: 5rem;
  --text-max-width: 40rem;
}

.reveal {
  --delay: 0s;
  --speed: 2s;
  --y-from: 3rem;
  --opacity-from: 0;
  --opacity-to: 1.0;

  opacity: 0;
  transform: translateY(20px);
  will-change: opacity, transform;
  animation: revealUp var(--speed) cubic-bezier(0.16, 1, 0.3, 1) var(--delay) forwards;
}

@keyframes revealUp {
  from {
    opacity: var(--opacity-from);
    transform: translateY(var(--y-from));
  }

  to {
    opacity: var(--opacity-to);
    transform: translateY(0);
  }
}

/* Base hidden state */
.reveal-on-scroll {
  opacity: 0;
  transform: scale(97%);
  transition: opacity 1.6s ease-out, transform 0.6s ease-out;
  will-change: opacity, transform;
  transition-delay: 0.2s;
}

/* Revealed active state */
.reveal-on-scroll.is-visible {
  opacity: 1;
  transform: scale(100%);
}

.offsite-link {
  position: relative;

  &.no-arrow::after {
    display: none;
  }

  &::after {
    content: "↗";
    position: absolute;
    right: -1em;
    top: -0.3em;
    font-size: inherit;
    color: currentColor;
    /*     font-weight: var(--font-weights-bold); */
  }
}

.center-horizontally {
  width: 100%;
  display: flex;
  justify-content: center;
}

.space-on-mobile {
  height: 0;
}

p:lang(fi) {
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  /*   text-align: justify; */
}

html[data-theme="light"] .to-dark-cv,
html:not([data-theme="dark"]) .to-dark-cv {
  display: none;
}

html[data-theme="dark"] .to-light-cv {
  display: none;
}


@media (max-width: 768px) {
  :root {
    --navbar-height: 3rem;
  }

  .space-on-mobile {
    height: 3rem;
  }
}